.navbar {
  border-radius: 0;
  padding: 15px 30px 15px 30px;
  background-color: #5a2f80;
  color: white;
  font-size: 1rem;
  font-family: "Arial";
  font-weight: bold;
  border-top: 4px solid #37104f;
}
.navbar__options {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: end;
  justify-items: end;
  margin-bottom: 10px;
}
.navbar__options--title {
  font-size: 1.5rem;
  font-family: "Arial Black";
  font-weight: normal;
  justify-self: start;
}
.navbar__options .options-icon {
  font-size: 1rem;
  margin-right: 3px;
}
.navbar__options a {
  color: white;
}
.navbar__search {
  display: grid;
  align-items: end;
  grid-template-columns: 2fr 2fr;
}
.navbar__search--group {
  grid-column: 2;
}
.navbar__search--addon {
  background-color: white;
}
.navbar__search--input {
  border-left: 0;
  padding: 3px 8px 3px 3px;
  font-size: 1rem;
  box-shadow: none;
}
.navbar__search--input:hover {
  box-shadow: none;
}

.navigation__text {
  font-family: "Arial Black";
  font-size: 1.2rem;
  color: #000000;
}

.gridProducts {
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  row-gap: 30px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: center;
  grid-auto-rows: minmax(20px, auto);
}
.gridProducts .nav {
  grid-column: span 4;
}
.gridProducts__card {
  border: 1px solid #e9e9e9;
}
.gridProducts__card--icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.gridProducts__card--infos {
  display: grid;
  gap: 20px;
  justify-items: center;
  padding: 0px 15px 25px 15px;
  z-index: 1;
  margin-top: -20px;
  grid-auto-rows: minmax(30px, auto);
}
.gridProducts__card--image .product-img {
  height: 125px;
  width: auto;
}
.gridProducts__card--description {
  color: #5c5c5c;
  font-family: "Arial";
  font-size: 1rem;
  font-weight: bold;
}
.gridProducts__card--price {
  color: #f4d669;
  font-family: "Arial";
  font-size: 1rem;
  font-weight: bold;
}