<div class="navbar">
    <div class="navbar__options">
        <span class="navbar__options--title">MagaNets</span>
        <span class="navbar__options--city"><span class="glyphicon glyphicon-map-marker options-icon"></span>Cidade: São Paulo</span>
        <span class="navbar__options--central"><span class="glyphicon glyphicon-earphone options-icon"></span>Central de atendimento</span>
        <span class="navbar__options--wishlist"><a href="/wishlist" onclick=""><span class="fas fa-heart options-icon"></span>Lista de desejos</span></a>

    </div>
    <div class="navbar__search">
        <div class="navbar__search--group input-group">
            <span class="navbar__search--addon input-group-addon">
                <i class="fas fa-search"></i>
            </span>
            <input type="text" class="navbar__search--input form-control border-0 shadow-none" id="search" placeholder="Buscar">
            
        </div>
    </div>
    
</div>